#This is so you can put this repo in your server directory without stuff blowing up :)

#GLOBAL
*.bak
*.ztmp

#ROOT
/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/.hg_archival.txt
/gameinfo.txt
/GPL*.txt
/item_whitelist_example.txt
/LICENSE.txt
/mapcycle.txt
/stats.txt
/umc_mapcycle.txt
/*.vbsp
/*.vdf
/*.vpk

#ADDONS
/addons/metamod/
/addons/stripper/
/addons/*.*

#SOURCEMOD RANDOM STUFF
/addons/sourcemod/bin/
/addons/sourcemod/extensions/
/addons/sourcemod/gamedata/*.games/
/addons/sourcemod/gamedata/sm-tf2.games.txt
/addons/sourcemod/gamedata/tf2.items.txt
/addons/sourcemod/gamedata/tf2items.*
/addons/sourcemod/logs/
/addons/sourcemod/.hg_archival.txt
/addons/sourcemod/GPL_*
/addons/sourcemod/LICENSE*

#SOURCEMOD CONFIGS
/addons/sourcemod/configs/
!/addons/sourcemod/configs/freak_fortress_2/

#SOURCEMOD DATA
/addons/sourcemod/data/*
!/addons/sourcemod/data/ff2_changelog.txt

#SOURCEMOD PLUGINS
/addons/sourcemod/plugins/

#SOURCEMOD SOURCE FILES
/addons/sourcemod/scripting/*
!/addons/sourcemod/scripting/freak_fortress_2.sp
/addons/sourcemod/scripting/
!/addons/sourcemod/scripting/freaks/
/addons/sourcemod/source/

#SOURCEMOD TRANSLATIONS
/addons/sourcemod/translations/*/
/addons/sourcemod/translations/a*.txt
/addons/sourcemod/translations/b*.txt
/addons/sourcemod/translations/c*.txt
/addons/sourcemod/translations/ff2_o*.txt
/addons/sourcemod/translations/fun*.txt
/addons/sourcemod/translations/m*.txt
/addons/sourcemod/translations/n*.txt
/addons/sourcemod/translations/p*.txt
/addons/sourcemod/translations/r*.txt
/addons/sourcemod/translations/s*.txt
/addons/sourcemod/translations/u*.txt
/addons/sourcemod/translations/w*.txt

#RANDOM STUFF
/bin/
motd.txt
update_tf2.txt

#CONFIGS
/cfg/

#CUSTOM
/custom/

#DOWNLOAD STUFFS
/download/
/downloadlists/

#MAPS
/maps/

#MOAR RANDOM STUFF
/materials/models/player/items/templates/standard.vmt
/media/
/replay/
/resource/
/scripts/