#This is so you can put this repo in your server directory without stuff blowing up :)
*.ztmp
/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/gameinfo.txt
/item_whitelist_example.txt
/mapcycle.txt
/stats.txt
/umc_mapcycle.txt
/*.vbsp
/*.vdf
/*.vpk
#METAMOD/SOURCEMOD/STRIPPER
/addons/metamod/
/addons/sourcemod/bin/
/addons/stripper/
/addons/BounceSteam.vdf
/addons/metamod.vdf
/addons/triggerbotdetector.*
#SOURCEMOD CONFIGS
/addons/sourcemod/configs/geoip/
/addons/sourcemod/configs/sql-init-scripts/
/addons/sourcemod/configs/freak_fortress_2/readme/
/addons/sourcemod/configs/sourcebans/
/addons/sourcemod/configs/a*.cfg
/addons/sourcemod/configs/c*.cfg
/addons/sourcemod/configs/da*.cfg
/addons/sourcemod/configs/l*.cfg
/addons/sourcemod/configs/m*.cfg
/addons/sourcemod/configs/p*.cfg
/addons/sourcemod/configs/s*.cfg
/addons/sourcemod/configs/*.txt
/addons/sourcemod/configs/*.ini
#SOURCEMOD RANDOM STUFF
/addons/sourcemod/data/
/addons/sourcemod/extensions/
/addons/sourcemod/gamedata/core.games/
/addons/sourcemod/gamedata/sdkhooks.games/
/addons/sourcemod/gamedata/sdktools.games/
/addons/sourcemod/gamedata/sm-cstrike.games/
/addons/sourcemod/gamedata/sm-tf2.games.txt
/addons/sourcemod/gamedata/tf2.items.txt
/addons/sourcemod/logs/
#SOURCEMOD PLUGINS
/addons/sourcemod/plugins/disabled/
/addons/sourcemod/plugins/ad*.smx
/addons/sourcemod/plugins/an*.smx
/addons/sourcemod/plugins/b*.smx
/addons/sourcemod/plugins/c*.smx
/addons/sourcemod/plugins/dkp_*.smx
/addons/sourcemod/plugins/fun*.smx
/addons/sourcemod/plugins/g*.smx
/addons/sourcemod/plugins/h*.smx
/addons/sourcemod/plugins/l*.smx
/addons/sourcemod/plugins/m*.smx
/addons/sourcemod/plugins/n*.smx
/addons/sourcemod/plugins/p*.smx
/addons/sourcemod/plugins/s*.smx
/addons/sourcemod/plugins/r*.smx
/addons/sourcemod/plugins/t*.smx
/addons/sourcemod/plugins/u*.smx
/addons/sourcemod/plugins/w*.smx
#SOURCEMOD SOURCE
/addons/sourcemod/scripting/a*/
/addons/sourcemod/scripting/b*/
/addons/sourcemod/scripting/c*/
/addons/sourcemod/scripting/freaks/compiled/
/addons/sourcemod/scripting/fun*/
/addons/sourcemod/scripting/k*/
/addons/sourcemod/scripting/include/a*
/addons/sourcemod/scripting/include/b*
/addons/sourcemod/scripting/include/c*
/addons/sourcemod/scripting/include/d*
/addons/sourcemod/scripting/include/e*
/addons/sourcemod/scripting/include/fi*
/addons/sourcemod/scripting/include/fl*
/addons/sourcemod/scripting/include/fu*
/addons/sourcemod/scripting/include/g*
/addons/sourcemod/scripting/include/h*
/addons/sourcemod/scripting/include/k*
/addons/sourcemod/scripting/include/l*
/addons/sourcemod/scripting/include/m*
/addons/sourcemod/scripting/include/n*
/addons/sourcemod/scripting/include/p*
/addons/sourcemod/scripting/include/r*
/addons/sourcemod/scripting/include/s*
/addons/sourcemod/scripting/include/t*
/addons/sourcemod/scripting/include/u*
/addons/sourcemod/scripting/include/v*
/addons/sourcemod/scripting/p*/
/addons/sourcemod/scripting/t*/
/addons/sourcemod/scripting/a*.sp
/addons/sourcemod/scripting/b*.sp
/addons/sourcemod/scripting/c*.*
/addons/sourcemod/scripting/fun*.sp
/addons/sourcemod/scripting/dkp_*.sp
/addons/sourcemod/scripting/e*.sp
/addons/sourcemod/scripting/g*.sp
/addons/sourcemod/scripting/h*.sp
/addons/sourcemod/scripting/k*.sp
/addons/sourcemod/scripting/l*.sp
/addons/sourcemod/scripting/m*.sp
/addons/sourcemod/scripting/n*.sp
/addons/sourcemod/scripting/p*.sp
/addons/sourcemod/scripting/r*.sp
/addons/sourcemod/scripting/s*.*
/addons/sourcemod/scripting/t*.sp
/addons/sourcemod/scripting/w*.sp
/addons/sourcemod/scripting/u*.sp
/addons/sourcemod/source/
#SOURCEMOD TRANSLATIONS
/addons/sourcemod/translations/*/
/addons/sourcemod/.hg_archival.txt
/addons/sourcemod/translations/a*.txt
/addons/sourcemod/translations/b*.txt
/addons/sourcemod/translations/c*.txt
/addons/sourcemod/translations/ff2_o*.txt
/addons/sourcemod/translations/fun*.txt
/addons/sourcemod/translations/m*.txt
/addons/sourcemod/translations/n*.txt
/addons/sourcemod/translations/p*.txt
/addons/sourcemod/translations/r*.txt
/addons/sourcemod/translations/s*.txt
/addons/sourcemod/translations/u*.txt
/addons/sourcemod/translations/w*.txt
#RANDOM STUFF
/bin/
motd.txt
update_tf2.txt
#CONFIGS
/cfg/sourcemod/c*.cfg
/cfg/sourcemod/f*.cfg
/cfg/sourcemod/k*.cfg
/cfg/sourcemod/m*.cfg
/cfg/sourcemod/n*.cfg
/cfg/sourcemod/p*.cfg
/cfg/sourcemod/r*.cfg
/cfg/sourcemod/s*.cfg
/cfg/sourcemod/t*.cfg
/cfg/sourcemod/u*.cfg
/cfg/*.cfg
/cfg/*.rc
/cfg/*.scr
/cfg/*.txt
#CUSTOM
/custom/
#RANDOM STUFF FTW
/download/
/downloadlists/
#MAPS
/maps/
#MATERIALS
/materials/models/player/items/templates/standard.vmt
#MEDIA
/media/
#RANDOM STUFF
/replay/
/resource/
/scripts/