#This is so you can put this repo in your server directory without stuff blowing up :)
addons/metamod/
addons/sourcemod/bin/
addons/sourcemod/configs/**
!addons/sourcemod/configs/freak_fortress_2/**
addons/sourcemod/translations/**
!addons/sourcemod/translations/ru/
!addons/sourcemod/translations/ru/freak_fortress_2.phrases.txt
!addons/sourcemod/translations/ff2_1st_set.phrases.txt
!addons/sourcemod/translations/ff2_boss_selection.txt
!addons/sourcemod/translations/freak_fortress_2.phrases.txt
addons/sourcemod/data/
addons/sourcemod/extensions/
addons/sourcemod/gamedata/**
!addons/sourcemod/gamedata/equipwearable.txt
!addons/sourcemod/gamedata/saxtonhale.txt
addons/sourcemod/logs/
addons/sourcemod/plugins/
addons/sourcemod/GPLv2.txt
addons/sourcemod/GPLv3.txt
addons/sourcemod/LICENSE.txt
addons/sourcemod/scripting/**
addons/sourcemod/scripting/include/**
!addons/sourcemod/scripting/include/
!addons/sourcemod/scripting/freaks/
!addons/sourcemod/scripting/freaks/**
!addons/sourcemod/scripting/freak_fortress_2.sp
!addons/sourcemod/scripting/include/freaks/
!addons/sourcemod/scripting/include/freak_fortress_2*.inc
!addons/sourcemod/scripting/include/freaks/**
bin/
cfg/
custom/
download/
downloadLists/
maps/
materials/models/player/items/templates/standard.vmt
media/
replay/
resource/
scripts/
*.*~
*.bak
*.bz2
*.ztmp

/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/.hg_archival.txt
/gameinfo.txt
/GPL*.txt
/item_whitelist_example.txt
/LICENSE.txt
/mapcycle.txt
/motd.txt
/stats.txt
/umc_mapcycle.txt
/*.vbsp
/*.vdf
/*.vpk